 img {
  width: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  position: relative;
  -webkit-box-shadow: inset 0px -7px 50px 17px rgba(0,0,0,0.82);
  box-shadow: inset 0px -7px 50px 17px rgba(0,0,0,0.82);
  z-index: -1;
}

h2{
  font-weight: 100;
}

.cocktail-name{
  text-shadow: 2px 2px 2px #00000070;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 64px;
  font-weight: 100;
}

p, ul{
  color: gray;
}

.body {
  height: 100%;
  position: relative;
}


.box-shadow {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.box-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px -7px 50px 17px rgba(0,0,0,0.82);
  box-shadow: inset 0px -7px 50px 17px rgba(0,0,0,0.82);
}

.measure{
  font-weight: 200;
}

.ingredient{
  color: black;
}

.recipe{
  background: white;
  width: 80%;
  min-height: 50%;
  padding: 24px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipe-wrapper{
  height: calc( 100% - 200px );
  overflow: auto;
}
