
.cocktail-list {
  padding: 14px;
  text-align: center;
}

.body{
  margin-top: 64px;
}

.cocktail img {
  transition: box-shadow 0.3s;
  cursor: pointer;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0px 6px 6px rgba(0,0,0,0.33);
  border-radius: 4px;
}

.cocktail{
  display: inline-block;
  margin: 24px;
  text-align: left;
  position: relative;
}

.cocktail:hover img {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.35);
}

.cocktail h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  white-space: nowrap;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cocktail h2 {
  margin: 0;
  font-weight: 100;
  font-size: 16px;
  color: gray;
}

.cocktail .star {
  opacity: 0;
}

.cocktail:hover .star {
  opacity: 1;
}

.star {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  color: #FFC107;
}

.cocktail .favorite{
  opacity: 1;
}


.app-bar{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.app-bar .material-form-field{
  min-width: 150px;
  width: 20%;
  margin-left: 12px;
}
