.material-form-field {
  position: relative;
  margin: 12px 0px;
  display: block;
}

.material-form-field input {
  height: 34px;
  width: 100%;
  background: none;
  border: 2px solid #999;
  border-radius: 4px;
}

.error {
  color: red;
}

.material-form-field label {
  color: #999;
  font-weight: 100;
  background: white;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 7px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.material-form-field input:focus~label, .material-form-field input:valid~label {
  top: -10px;
  font-size: 14px;
  color: #5264AE;
}

.material-form-field.error input, .material-form-field.error input:focus {
  border-color: red;
  outline: none;
}

.material-form-field.error label, .material-form-field.error input:focus~label, .material-form-field.error input:valid~label {
  color: red;
}

.material-form-field.error .error-string {
  font-size: 12px;
  margin-left: 4px;
  font-weight: 300;
}
