body {
  background: #f9f8fe;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0px;
}

.body {
  flex: 1;
  overflow: auto;
}

.card {
  background: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

button {
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  background: #1976d2;
  color: white;
}

button:hover {
  background: #1976d2b8;
}

.disable {
  background: gainsboro;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
