.menu {
  overflow: auto;
  color: white;
  min-width: 200px;
  max-width: 400px;
  width: 20vw;
  background: #1976d2;
  overflow-x: hidden;
  padding: 20px;
  transition: .6s ease all;
}

.navigator {
  min-height: 50%;
}

.favorits-list {
  color: lightblue;
  font-weight: 100;
  padding-left: 8px;
  transition: .6s ease all;
  opacity: 1;
}

.favorite-wrapper {
  display: table-row;
  cursor: pointer;
}

.favorite-wrapper:hover .material-icons {
  opacity: 1;
}

.favorite-wrapper .material-icons {
  opacity: 0;
}

.favoriten {
  font-weight: 100;
  vertical-align: top;
  display: table-cell;
  text-decoration: none;
  color: lightblue;
}

.menu h1 {
  font-weight: 100;
  margin: 0px;
  opacity: 1;
  transition: .8s ease all;
}

.navigator h1 {
  margin-bottom: 12px;
  opacity: 1;
  transition: .8s ease all;
}

.navEntry {
  height: 24px;
  line-height: 24px;
  font-weight: 300;
  vertical-align: top;
  margin-left: 14px;
  white-space: nowrap;
  opacity: 1;
  transition: .8s ease all;
}

.navEntryWrapper {
  white-space: nowrap;
  cursor: pointer;
  padding: 10px 26px;
  margin: 0 -24px;
  display: block;
  text-decoration: none;
  color: white;
}

.navEntryWrapper:hover {
  background: rgba(255, 255, 255, 0.2);
}

.current {
  background: rgba(255, 255, 255, 0.1);
}

.navigator .material-icons {
  color: lightblue;
}

@media screen and (max-width: 600px) {
  .menu h1, .favorits-list, .navigator h1, .navEntry {
    opacity: 0;
  }

  .navEntryWrapper {
    width: 12px;
  }

  .navigator {
    width: 64px;
    min-width: 0px;
  }

  .menu {
    min-width: 0px;
    width: 41px;
    padding: 0;
    padding-left: 12px;
    overflow: hidden;
  }
}
